@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  /* font-family: "IBM Plex Serif", serif; */
  /* font-family: "Helvetica", serif; */
background-color: rgb(0, 0, 0);
color : white
                        
}
  






a{
  text-decoration: underline;
  
}

.icons{
   @apply w-[40px] h-[25px] 
}

.signUp_form{
  @apply flex flex-col  items-center lg:h-[547px] lg:w-[500px] md:h-[550px] md:w-[580px] sm:h-[500px] sm:w-[500px] h-[550px] w-[400px] lg:my-0 lg:mx-[60px] md:mx-auto md:my-auto sm:my-auto sm:mx-auto mx-auto my-[46px] 
}

.login_form{
  @apply flex flex-col justify-center items-center lg:h-[540px] lg:w-[500px] md:h-[550px] md:w-[580px] sm:h-[500px] sm:w-[500px] h-[550px] w-[400px] lg:my-0 lg:mx-[60px] md:mx-auto md:my-auto sm:my-auto sm:mx-auto mx-auto my-[46px]
}


.side_nav_lg{
  @apply flex hover:bg-gray-900 rounded-full py-1 px-2
}

.side_nav_nonlg{
  @apply flex hover:bg-gray-900 rounded-full py-1 px-2 cursor-pointer 
}
